<div class="second_header">
  <h1>ことわざ、それは人智の結晶。</h1>
</div>

<div class="contents_row clearfix" >
  <div class="third_header clearfix">
    <h2>
      スピーチなどで実際に使えることわざを評価してください。<br>
      ことわざが評価の高い順に表示されます。
    </h2>
    <a class="btn-square-pop" href="/proverbs/search">すべてのことわざを表示</a>
  </div>
  <% @proverbs.each_with_index do |proverb, rank| %>
    <%= render partial: "proverb", locals: { proverb: proverb, rank: rank } %>
  <% end %>
</div>