<div class="second_header">
  <h1>ことわざ、それは人智の結晶。</h1>
</div>

<div class="contents_row clearfix" >
  <h2>
    スピーチなどで実際に使えることわざを評価してください。<br>
    ことわざが評価の高い順に表示されます。
  </h2>
  <% @proverbs.each do |proverb| %>
    <%= render partial: "proverb", locals: { proverb: proverb } %>
  <% end %>
  <%= paginate(@proverbs) %>
</div>